*.dot
*.png
*.log
*.asv
build/*
lib/*
bin/*
output/*
cmake-build-debug/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
.VSCodeCounter/*
*.Identifier
data/*
.vscode/*
.idea/*
ThirdParty/*
data/*
CMakeLists.txt
*.txt
